.MovieBox button.item , .icon{
  display: none;
  margin-top: 15px;
  padding: 12px 20px;
  outline: none;
  border: none;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  top: -40px;
  left: 20px;
  color: white;
}
.icon{
  padding: 10px 20px;
  margin-left: 10px;

}



.MovieBox:hover button.item ,.MovieBox:hover .icon{
  display: inline-block;

}

.MovieBox button.item i{
  margin-right: 10px;
}
@media only screen and (max-width: 425px) {
  .MovieBox {
    width: 250px;
    height: 180px;
    margin-left: 20px;
  }

.upcome .title{
  font-size: 1rem;
  margin-left: 50px;
}

.MovieBox .text{
  top: 0px;
}

.MovieBox:hover {
  left: -20px;
  width: 260px;
  height: 180px;
}

.MovieBox:hover .text {
  top: -20px;
}
.MovieBox:hover .delete {
  top: -225px;
  left: 276px;
}
.MovieBox:hover .item {
  top: -100px;
}
.MovieBox:hover .icon {
  top: -100px;
}
} 