
.delete{
  display: none;
  background-color: transparent;
  border: 0;
  position: relative;
    top: -200px;
    left: 280px;
    cursor: pointer;
}

.MovieBox:hover .delete{
  background-color: transparent;
  border: 0;
  display: block;
  position: relative;
  top: -215px;
  left: 335px;

}

.MovieBox button {
  display: none;
  margin-top: 15px;
  padding: 12px 20px;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  top: -70px;
  left: 20px;
  background-color: rgb(18,198,178);
}

.MovieBox:hover button{
  display: inline-block;
  margin-right: 10px;
  top: -110px;
}

@media only screen and (max-width: 425px) {
  .MovieBox {
    width: 250px;
    height: 180px;
    margin-left: 20px;
  }

.upcome .title{
  font-size: 1rem;
  margin-left: 50px;
}

.MovieBox .text{
  top: 0px;
}

.MovieBox:hover {
  left: -20px;
  width: 260px;
  height: 180px;
}

.MovieBox:hover .text {
  top: -20px;
}
.MovieBox:hover .delete {
  top: -225px;
    left: 193px;
}
.MovieBox:hover .fav {
  top: -165px;
    left: 10px;
}
.MovieBox:hover .iconfav {
  top: -165px;
    left: 10px;
}
} 