
.delete{
  display: none;
  background-color: transparent;
  border: 0;
  position: relative;
  top: -190px;
  left: 335px;
    cursor: pointer;
}

.MovieBox:hover .delete{
  display: block;
  

}

.MovieBox button.fav{
  display: none;
  margin-top: 15px;
  padding: 12px 20px;
  outline: none;
  border: none;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  top: -70px;
  left: 20px;
  color: white;
}




.MovieBox:hover button.fav{
  display: inline-block;

}

.MovieBox button.fav i{
  margin-right: 10px;
}

@media only screen and (max-width: 425px) {
  .MovieBox {
    width: 250px;
    height: 180px;
    margin-left: 20px;
  }

.upcome .title{
  font-size: 1rem;
  margin-left: 50px;
}

.MovieBox .text{
  top: 0px;
}

.MovieBox:hover {
  left: -20px;
  width: 260px;
  height: 180px;
}

.MovieBox:hover .text {
  top: -20px;
}
.MovieBox:hover .delete {
  top: -225px;
    left: 193px;
}
.MovieBox:hover .fav {
  top: -165px;
    left: 10px;
}
.MovieBox:hover .iconfav {
  top: -165px;
    left: 10px;
}
} 